<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NominaApp.Properties.Settings.CadenaConexionNomina"
            connectionString="DATA SOURCE=localhost:1521/xe;PASSWORD=Evolutions123;USER ID=AVILLEGAS"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>